<!--
  Generated template for the UserLoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label floating>E-Mail</ion-label>
    <ion-input type="text" #username></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password" #password></ion-input>
  </ion-item>


  <div padding>
    <button ion-button block (click)="login()">Sign In</button>
  </div>

  <div>
    <div style="display: inline;">Don't have an account?</div>
    <button ion-button clear class="inline-button" (click)="showRegister()">Register here!</button>
  </div>
</ion-content>
