<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>About</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <ion-fab right bottom>
    <button ion-fab color="primary" (click)="presentActionSheet()">
      <ion-icon name="cloud-upload"></ion-icon>
    </button>
  </ion-fab> -->
</ion-content>
