<ion-header>
  <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      Sign in with
    </ion-card-header>

    <ion-list>
      <button ion-item (click)="showUserLogin()">
        <ion-icon item-start ios="ios-contact" md="md-contact"></ion-icon>
        Login
      </button>

      <button ion-item (click)="login(providers.facebook)">
        <ion-icon item-start name="logo-facebook" style="color: #4267B2;"></ion-icon>
        Facebook
      </button>

      <button ion-item (click)="login(providers.google)">
        <ion-icon item-start name="logo-google" style="color: #F5511E;"></ion-icon>
        Google
      </button>

      <button ion-item (click)="login(providers.twitter)">
        <ion-icon item-start name="logo-twitter" style="color:#4AB3F4;"></ion-icon>
        Twitter
      </button>

      <button ion-item (click)="login(providers.github)">
        <ion-icon item-start name="logo-github"></ion-icon>
        Github
      </button>

    </ion-list>
  </ion-card>

</ion-content>
