<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label floating>E-Mail</ion-label>
    <ion-input type="text" #username></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password" #password1></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Reenter Password</ion-label>
    <ion-input type="password" #password2></ion-input>
  </ion-item>


  <div padding>
    <button ion-button block (click)="register()" color="secondary">Register</button>
  </div>

</ion-content>
