<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab tabTitle="Logout" tabIcon="backspace" (ionSelect)="logout()"></ion-tab>>
  <ion-tab [root]="tab3Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Settings" tabIcon="cog" *ngIf="user.provider == providers.local"></ion-tab>
</ion-tabs>
