<ion-header>
  <ion-navbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <p>Home Page</p>

  <ion-card *ngIf="user.loggedin">
      <img src="{{user.profilePicture}}" />
      <ion-card-content>
        <ion-card-title>
          {{user.name}}
        </ion-card-title>
        <p style="text-align: center">
          {{user.email}}
        </p>
      </ion-card-content>
    </ion-card>
</ion-content>
