<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Change Password</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-item>
      <ion-label floating>Current Password</ion-label>
      <ion-input type="password" value="" #current></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>New Password</ion-label>
      <ion-input type="password" value="" #new1></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Confirm Password</ion-label>
      <ion-input type="password" value="" #new2></ion-input>
    </ion-item>

    <div padding>
      <button ion-button block (click)="changePassword()" color="primary">Change Password</button>
    </div>
</ion-content>
