<!--
  Generated template for the OptionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>User Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-list>
      <ion-item>
        <ion-avatar item-start>
          <img src="{{user.profilePicture}}" />
        </ion-avatar>
        <button ion-button (click)="presentActionSheet()">Change Avatar</button><br>
        <ng-container *ngIf="progress | async as percent">
          <progress [value]="percent" max="100"></progress>
        </ng-container>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label floating>Display Name</ion-label>
      <ion-input type="text" value="{{user.name}}" #username></ion-input>
    </ion-item>

    <ion-list>
      <button ion-item (click)="showChangePassword()">
        Change Password
      </button>
    </ion-list>

    <div padding>
      <button ion-button block (click)="submitData()" color="primary">Submit</button>
    </div>

  </ion-list>
</ion-content>
